.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.list-images {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}


.list-images > img {
  margin-bottom: 1rem;
}

.list-images > img:hover {
  border: 1px solid black;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}